In [11]:
#imports
import numpy as np
import pandas as pd
import sqlite3

In [12]:
# Connect to DB and read all data
conn = sqlite3.connect('bee_sightings.sqlite')
bee_data = pd.read_sql('SELECT * from bee_sightings', conn)
bee_data.head()

,bee_id,common_name,dateidentified,latitude,longitude,floral_host,sightingstatus_id,native_status
0,21041,Yellow-faced bumble bee,2017-08-05 00:00:00.000000,45.524403,-122.637095,None,1,None
1,20632,Yellow-faced bumble bee,2017-08-08 00:00:00.000000,45.494031,-122.427821,Joe Pye weed,1,Non-native
2,20423,Obscure bumble bee,2017-08-06 00:00:00.000000,45.584405,-122.723538,None,1,None
3,20263,Bumble bee,2017-08-03 00:00:00.000000,45.494263,-122.427542,Aster Douglasii,1,Native
4,19923,Bumble bee,2017-07-27 00:00:00.000000,45.539996,-122.571588,,1,None

In [ ]:
# Query for total abundance/count by species name within verified sightings

# Plot total bee species diversity on the y-axis, and Native, Non-native on the x-axis.

# Most popular plant? Which plant saw the most visits, the largest diversity of visitors.
    # Bloom times a factor? Commonness a factor?
    
# Plot bee species on x-axis, flower species on y-axis. Any cool clustering happening? Color bee species differently
  #to see if bee species cluster around certain plant species
    
# Generalization ratio: calculate the variance in visits for a particular species across all flower species. Fewer
  #the species, less the variance, and thus the more specialist a species might be.